# Launch an user script if a device /dev/ttyACM0 is detected by udev.

# Since starting long-running processes from udev is not recommended,
# starting an user script is done by systemd as a service.

# Usage: copy this file into '/etc/systemd/system/' directory.

# Options 'StartLimitIntervalSec', 'Restart', and 'RestartSec' are
# used to restart the service on exit or whatever. 

[Unit]
Description=Serial communication with the STM32 Nucleo/STLink via USB
ConditionPathExists=/dev/ttyACM0
StartLimitIntervalSec=0
After=network.target systemd-timesyncd.service

[Service]
ExecStart=/usr/local/bin/serialcomm_nucleo.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
